COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
agl/Makefile
agl/Makefile.in
agl/shaders/Makefile
agl/shaders/Makefile.in
agl/shaders/shaders.c
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
decoder/Makefile
decoder/Makefile.in
depcomp
install-sh
libtool
libwaveform.pc
ltmain.sh
missing
sdl/Makefile
sdl/Makefile.in
shaders/Makefile
shaders/Makefile.in
shaders/shaders.c
test/Makefile
test/Makefile.in
test/data/
test/write_block
test/write_short
test/write_wav
transition/Makefile
transition/Makefile.in
waveform/Makefile
waveform/Makefile.in
waveform/actors/Makefile
waveform/actors/Makefile.in
waveform/loaders/Makefile
waveform/loaders/Makefile.in
