COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
agl/Makefile
agl/Makefile.in
agl/shaders/Makefile
agl/shaders/Makefile.in
agl/shaders/shaders.c
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
decoder/Makefile
decoder/Makefile.in
depcomp
install-sh
libtool
libwaveform.pc
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
sdl/Makefile
sdl/Makefile.in
shaders/Makefile
shaders/Makefile.in
shaders/shaders.c
test/Makefile
test/Makefile.in
test/data/
test/gen/write_block
test/gen/write_short
test/gen/write_wav
test/32bit
test/actor_no_scene
test/actor_plus
test/actor_test
test/ass
test/cache
test/frame_rate
test/glx
test/group
test/hires
test/large_files
test/list
test/multi_scene
test/pixbuf
test/promise
test/resources
test/scenegraph
test/sdl
test/view_plus_test
test/view_test
test/viewport
test/waveform_test
test/gen/write_piano
transition/Makefile
transition/Makefile.in
waveform/Makefile
waveform/Makefile.in
waveform/actors/Makefile
waveform/actors/Makefile.in
waveform/loaders/Makefile
waveform/loaders/Makefile.in
gtkglext-1.0/m4macros
*.peak
*.gz
*.xz
*.orig
*~
