COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
.ccls-cache/
agl/Makefile
agl/Makefile.in
agl/resources.c
agl/shaders/Makefile
agl/shaders/Makefile.in
agl/shaders/shaders.c
autom4te.cache/
compile
compile_commands.json
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
decoder/Makefile
decoder/Makefile.in
depcomp
install-sh
libtool
libwaveform.pc
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
sdl/Makefile
sdl/Makefile.in
shaders/Makefile
shaders/Makefile.in
shaders/shaders.c
test-driver
test/Makefile
test/Makefile.in
test/data/
test/gen/write_block
test/gen/write_short
test/gen/write_wav
test/32bit
test/32bit.h
test/actor_no_scene
test/actor_plus
test/actor
test/ass
test/cache
test/frame_rate
test/glx
test/group
test/hires
test/input
test/large_files
test/list
test/multi_scene
test/pixbuf
test/promise
test/promise.h
test/resources
test/res_vhi
test/res_vhi_blocks
test/res_vhi_scrollable
test/scenegraph
test/sdl
test/view_plus
test/view_test
test/viewport
test/waveform.h
test/waveform
test/text
test/unit-actor
test/unit-actor.h
test/gen/write_piano
test/gen/thumbnail
test/gen/every_point_one
transition/Makefile
transition/Makefile.in
waveform/Makefile
waveform/Makefile.in
waveform/actors/Makefile
waveform/actors/Makefile.in
waveform/loaders/Makefile
waveform/loaders/Makefile.in
gtkglext-1.0/m4macros
*.peak
*.gz
*.xz
*.orig
*~
*.trace
*.log
*.trs
